@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Exo+2&family=Montserrat:wght@300;400;600;700&family=Oswald&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

*,
*:before,
*:after {
	padding:0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}


html,

.container {
	width: 100%;
	margin: auto;
	padding-top: 5px;
}

body {
	/* display: flexbox; */
	
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 400;
	background: rgb(255, 255, 255);
	margin: 0px auto;
	color: aliceblue;
	text-shadow: 1px 0 1px rgb(0, 0, 0), 
	0 1px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
}

.phone {
	color: rgb(248, 200, 109);
}

.phone:hover {
	color:orangered;
}

.em {
	color: rgb(248, 200, 109);

}

.em:hover {
	color:orangered;
}


img {
	border-radius: 30px;
	border: 5px solid orange ;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.50);
}

.im {
	padding: 10px;
	border: 1px solid rgb(138, 91, 4) ;
	background-color: rgb(255, 238, 217);
	margin-bottom: 5px;
	letter-spacing: 1px;
	border-bottom: 3px solid orange;
			
}

.social {
	padding: 10px;
	border: 1px solid rgb(138, 91, 4) ;
	background-color: rgb(255, 220, 176);
	text-decoration: none;
	margin-bottom: 10px;
	border-bottom: 3px solid orange;
}

.social a{
	color: aliceblue;
}
.social a:hover{
	color: orangered;
}

.social a:active {
	color: orange;
}

.work {
	
	padding: 10px;
	border: 2px solid rgb(138, 91, 4) ;
	background-color: rgb(252, 201, 138);
	margin-bottom:30px;
	border-bottom: 5px solid orange;
	
}

table {
	width: auto;
	margin: auto;
	border: 1px solid black;
}

th, td{
	border: 1px solid black;
	padding: 3px;
}
th:hover, td:hover {
	background: orangered;
	color: rgb(241, 182, 182);
}

.skills {
	padding: 10px;
	border: 2px solid rgb(138, 91, 4) ;
	background-color:rgb(252, 183, 99);
	margin-bottom: 20px;
	border-bottom: 5px solid orange;
}


.skills p {
	height: 100%;
	width: 600px;
	margin: 0 auto;
}

.hobby {
	padding: 10px;
	border: 2px solid rgb(138, 91, 4) ;
	background-color: rgb(248, 156, 43);
	margin-bottom: 20px;
	border-bottom: 5px solid orange;
}

li {
	list-style: none;
}




.contact {
	padding: 10px;
	border: 2px solid rgb(138, 91, 4) ;
	background-color: rgb(250, 143, 11);
	border-bottom: 5px solid orange;
}
textarea {
	background: rgb(230, 230, 230);
	border: 3px solid rgb(138, 91, 4) ;
	border-radius: 5px;
}

.input {
	background: rgb(230, 230, 230);
	border: 3px solid rgb(138, 91, 4) ;
}

.btn {
	background: rgb(221, 217, 217);
	padding: 5px;
	border: 3px solid rgb(138, 91, 4) ;
	margin-left: 10px;
	border-radius: 3px;
	margin: 15px 0px;
	color: #000;
}
